*{font-family: 'Gowun Batang', serif;}
    #header_letter{
      color:black;
    }
    a{
      text-decoration:none;
      color:black;
    }


    header{
      height:100px;
      text-align:center;
      font-size:20px;
      margin-left:105px;
      padding-bottom:15px;
    }

    header h1{
      padding-top:8px;
      vertical-align:middle;
      display:inline-block;
      margin-right:6%;
    }
    
    #calculator{
      display:inline-block;
      width:700px;
      text-align:center;
      vertical-align: top;
    }
    span{
      width:auto;
      height:844px;
      background-color:#363535;
      display:inline-block;
      flex:1;
    }
    #main_content{
      display:flex;
    }
    #left, #right{
      width:auto;
    }
    body{
      margin:1px;
    }
    #banner{
      position:absolute;
      width:70px;
      left:24px;
      top:20px;
    }
    #return {
    position: absolute;
    top: 86px; 
    left: 30px;
    width: fit-content;
}
#main_content{
  border-top:1px solid #363635;
}
#location:hover{
  color:#777676;
}

label{
  font-size:18px;
}
#height{
  margin-right:16px;
}

#complete{
  background-color: #777676;
}
form{
  border-top:1px solid black;
  text-align:center;
  padding-top:20px;
}
table{
  margin-left:38%;
  border:1px solid black;
}

#result1, #result2, #result3{
  font-size:30px;
}