*{font-family: 'Gowun Batang', serif;}
    #header_letter{
      color:black;
    }
    a{
      text-decoration:none;
      color:black;
    }

    #banner{
      width:100px;
      float:left;
      padding:10px;
    }
    header{
      height:100px;
      border: 1px solid black;
    }
    header h1{
      padding-top:8px;
      width:400px;
      display:inline-block;
    }
    #listofgym{
      margin-top:0px;
      width:200px;
    }
    #listofgym li{
      list-style: none;
      line-height: 95px;
      font-size:25px;
      text-align: center;
    }

    #sidebar{
      display:inline-block;

    }