*{font-family: 'Gowun Batang', serif;}
    #header_letter{
      color:black;
    }
    a{
      text-decoration:none;
      color:black;
    }

    #banner{
      width:100px;
      padding:10px;
      display:inline-block;
      vertical-align: middle;
    }
    header{
      height:100px;
      border: 1px solid black;
      text-align:center;
    }
    header h1{
      padding-top:8px;
      vertical-align:middle;
      display:inline-block;
    }
    #listofgym{
      margin-top:0px;
      width:100%;
    }
    #listofgym li{
      list-style: none;
      line-height: 60px;
      font-size:25px;
      text-align: center;
      margin-left:-40px;
      text-decoration:underline #5a5757 solid 1px;
      text-underline-offset: 5px;
    }

    #sidebar{
      display:inline-block;
      width:700px;
    }

    span{
      width:auto;
      height:770px;
      background-color:#363535;
      display:inline-block;
      border:1px solid black;
      flex:1;
    }
    #main_content{
      display:flex;
    }
    #left, #right{
      width:auto;
    }