
#section1 {
    width: 100%;
    float: left;
    margin-right: 1%;
}
#section1 img{
    width:49.6%;
}
#section2 {
    display: inline-block;
    background-color: skyblue;
    width: 100%;
}
article{padding:20px}
p,ul{background-color: white; padding: 20px;}

#banner{
    width:100px;
    float:left;
    padding:10px;
}
header{
    height:100px;
    border: 1px solid black;
    display:relative;
}

header h1{
    padding-top:8px;
    width:400px;
    display:inline-block;
}
*{font-family: 'Gowun Batang', serif;}
#return {
    position: absolute;
    top: 80px; 
    left: 44px;
    width: fit-content;
}
#section2 li{
    list-style-type: decimal;
}